# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub/
**/build/
### Flutter ###
# Flutter/Dart/Pub related
**/fvm/flutter_sdk
**/.pub-cache/
**/coverage/
**/lib/generated_plugin_registrant.dart
# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
#pubspec.lock


# Android
**/android/.gradle/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec

# Coverage
**/coverage/

# Generated
**/*.lock